.cont{
  display: inline;
  text-align: center;
  padding-top: 5%;
  margin: auto;
  margin-top: 5%;
  width: 60%;
}
.content{
  text-align: center;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 50%;
}


  .Google{
    width:100%;
    background-color: #F8F9F9;
    border-radius: 15px;
  }

  .btnText{
    margin-left: 5%;
  }
  .x{
    height: 2px;
    width: 40%;
    border-width:0;
    background-color:gray;
    margin-top: 2%;
  }
  .left{
    margin-right: 2%;
    background-color:#C0C0C0;
  }
  .right{
    margin-left: 2%;
    background-color:#C0C0C0;
  }
  
  #ligne{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    color:#808080;
  }
  .form{
    width:100%;
  }
  .form-item{
    text-align: center;
    width: 100%;
  }
  .inputRegF{
    margin-right:-50% ;
    width: 150%;
    border-radius: 15px;
    border-color: 	#C0C0C0;
  }
  .btnRg{
    border-radius: 15px;
    width: 100%;
  }
