.cont{
  display: inline;
  text-align: center;
  padding-top: 5%;
  margin: auto;
  margin-top: 5%;
  width: 60%;
}
.content{
  text-align: center;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 50%;
}


  .Google{
    width:100%;
  }

  .btnText{
    margin-left: 5%;
  }
  .x{
    height: 2px;
    width: 40%;
    border-width:0;
    background-color:gray;
    margin-top: 2%;
  }
  .left{
    margin-right: 2%;
  }
  .right{
    margin-left: 2%;
  }
  
  #ligne{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
  }
  .form{
    text-align: center;
    width:100% ;
    display: inline-block;
    
  }
  .form-item{
    text-align: center;
    width: 100%;
  }
  .inputRegF{
    margin-right:-50% ;
    width: 150%;
  }
  .btnRg{
    width: 100%;
  }