.events {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .notes-month {
    font-size: 28px;
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }
.calendar .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content{
  height: 45px;
  line-height: 1;
}
.calendar .ant-picker-body{
  width: 1150px;
  margin-right: 25px;
  margin-left: 25px;
}
.calendar .ant-picker-calendar-header{
  margin-right: 25px;
}