.Home {
    width: 100%;
    padding: 30px;
  }
.Home .ant-card{
    height: 100%;
    text-align: center;
}
.Home .card{
    box-shadow:  0 2px 4px 0 #EAEDED , 0 2px 12px 0 #EAEDED ;
    cursor: pointer;
    width: 160px;
    height: 130px;
    /* margin-right: 15px; */
    margin-bottom: 15px;
}
.Home .card:hover{
    background-color: #FBFCFC;
}