.ant-page-header {
  background-color: #f7f9f9;
  padding: 8px 24px;
}
.notifcations-empty {
  margin: 0;
  text-transform: capitalize;
}
.notification-container {
  gap: 1rem;
  display: flex;
  margin: 0.5rem 0;
}

.notification-content h3 {
  text-align: left;
  margin: 0;
  text-transform: capitalize;
}
.notification-content p {
  margin: 0;
  text-align: left;
}
.ant-page-header-heading-sub-title{
    margin: 0 auto!important;
    font-weight: 700;
    color: black;
    text-transform: capitalize;
}
.ant-page-header-heading-left{
    width: 100%;
}