.react-kanban-column{
    border-radius: 8px;
    width: 260px;
}
.task{
    width: 230px;
    height: 80px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.ant-card-body{
    padding: 5px;
    text-align: left;
}
.taskTitle{
    background-color: #F5B041; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 4px;
    margin-bottom: 5px;
    font-weight: 500;
    display: flex;
}