.codeConf{
    border: 1px #797777;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding-top: 2%;
    padding-bottom: 2%;
    margin:auto;
    margin-top: 5%;
    width: 35%;
    text-align: center; 

}

.code{
    margin: auto;
    width: 80%;
    text-align: center; 
    /* display: inline-block; */
}

h3{
    text-align: center;
}

.inpBtn{
    text-align: center; 
    display: inline-block;

 
    /* margin: auto; */
    width:90%;
}

.inp{
    width: 100%;
}

.formCodeConfirmationForgetPwd{
    display: flex;
}
